html {}

body {
  margin: 0px;
  font-family: Calibri;
  font-size: 24px;
  color: #000;
/*  text-shadow: 0 1px 0 #fff; */
}

#Fundo {
  position: absolute;
  margin: 0px;
  padding: 0px;
  background-image: url(../images/fundo.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

#Malapronta {
  position: relative;
  top: 40%;
  left: 5%;
  width: 90%;
}

p {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: blue;
}

/* selected link */
a:active {
    color: blue;
}